<launch>
    <node name="apm" pkg="mavros" type="mavros_node">
        <remap to="/depth" from="/apm/global_position/rel_alt"/>
        <remap to="/heading" from="/apm/global_position/compass_hdg"/>
        <remap to="/control" from="/apm/rc/override"/>
    </node>

    <node name="helm" pkg="zoidberg_nav" type="navigation_server.py" respawn="true">
        <param name="controller_frequency" value="10.0" />
        <param name="depth/P" value="30.0" />
        <param name="depth/Pmax" value="300." />
        <param name="depth/tolerance" value=".1" />
        <param name="heading/P" value="3.0" />
        <param name="heading/Pmax" value="300." />
        <param name="heading/tolerance" value="2." />
    </node>
    <node pkg="rosservice" type="rosservice" name="steam_rate" args="call --wait /apm/set_stream_rate 0 10 1"/>
</launch>
