<launch>
    <node name="apm" pkg="mavros" type="mavros_node">
        <remap to="/heading" from="/apm/global_position/compass_hdg"/>
        <remap to="/control" from="/apm/rc/override"/>
        <remap to="/rcout" from="/apm/rc/out"/>
        <remap to="/power" from="/apm/battery"/>
        <param name="target_system_id" value="1" />
        <param name="target_component_id" value="1" />
        <param name="gcs_url" value="udp://:14556@127.0.0.1:14550" />
    </node>

    <node name="guidance" pkg="zoidberg_ros" type="guidance_node.py" respawn="true">
        <param name="depth/P" value="600.0" />
        <param name="depth/Pmax" value="300." />
        <param name="heading/P" value="10.0" />
        <param name="heading/Pmax" value="200." />
        <param name="xvel/P" value="10" />
        <param name="xvel/Pmax" value="200" />
        <param name="yvel/P" value="10" />
        <param name="yvel/Pmax" value="200" />
    </node>

    <node name="pext" pkg="zoidberg_ros" type="pressure_node.py" respawn="true" >
    </node>

    <node name="vision" pkg="zoidberg_ros" type="vision_node.py" respawn="true" >
    </node>

    <node pkg="rosbag" type="record" name="zoidberg_bag"
              args="-o zoidberg_bag /rcout /dvl /control /depth /heading"
    />
</launch>
